@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2 {
    font-family: "PT Mono", monospace;
    color: #ffd201;
}

h1 {
    font-size: 75px;
}

p {
    font-size: 30px;
}

body {
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
    color: white;
    font-family: "PT Sans", sans-serif;
}

html {
    height: 100%;
    background: rgb(7,8,55);
    background: linear-gradient(180deg, rgba(7,8,55,1) 0%, rgba(89,48,99,1) 100%) no-repeat fixed;
    background-size: cover;
}