@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    background-color: #1c1525;
    font-family: "IBM Plex Sans", sans-serif;
    color: #d8d8d8;
}

h1,
h2,
h3 {
    color: #ffd201;
}

h1 {
    font-size: 50px;
}

h1.blog-title {
    margin: 0;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.u {
    text-decoration: underline;
}

.mono {
    font-family: "IBM Plex Mono", monospace;
}

.blinking {
    animation: blink 1s infinite;
}

.centered {
    text-align: center;
}

.sub {
    font-size: 1.25em;
    line-height: 0.6;
    letter-spacing: 5px;
    color: #d8d8d880;
    text-transform: uppercase;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
        transition: 0.5s ease-in;
    }
    50% {
        opacity: 0;
        transition: 0.5s ease-out;
    }
}

.content a {
    position: relative;
    display: inline-block;
    outline: solid 2px transparent;
    border-radius: 10px;
    color: #ffd201;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.05, 0.72, 0.62, 0.82);
}

.content a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    border-radius: 10px;
    background-color: #ffd201;
    z-index: -1;
}

.content a:hover {
    opacity: 0.5;
    display: inline-block;
    outline: solid 2px #ffd201;
    border-radius: 5px;
    outline-offset: 5px;
    color: #ffd201;
}

.content a:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 1;
    border-radius: 10px;
    background-color: #ffd201;
    z-index: -1;
}

.content {
    width: 75%;
    margin: auto;
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.3s ease;
}

.content.nav-loaded {
    opacity: 1;
    transform: translateY(-15px);
}

.nav {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 30px;
    margin-top: 0;
    font-size: 35px;
    transform: translateY(-10%);
    border-bottom: 1px solid #d8d8d8;
    transition: all 0.3s ease;
}

.nav.shrink {
    padding: 10px;
    font-size: 25px;
    transition: all 0.3s cubic-bezier(0.05, 0.72, 0.62, 0.82);
}

.nav li {
    display: inline-block;
    outline: 2px solid #ffd20100;
    color: #d8d8d8;
    border-radius: 5px;
    outline-offset: 8px;
    margin-left: 30px;
    transition: all 0.3s cubic-bezier(0.05, 0.72, 0.62, 0.82);
}

.nav li:hover {
    border-radius: 1px;
    outline-offset: 10px;
    outline: 2px solid #ffd20100;
    color: #ffd201;
}

.nav li a {
    color: #d8d8d8;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.05, 0.72, 0.62, 0.82);
}

.nav li a:hover {
    color: #ffd201;
}

.nav #name {
    outline-color: transparent !important;
    color: #ffd201 !important;
}

.nav-all {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: -20px;
    z-index: 2;
    transition: all 0.3s cubic-bezier(0.05, 0.72, 0.62, 0.82);
}

.nav-all.loaded {
    top: 0px !important;
}

.nav-all.loaded .nav {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.posts li {
    display: block;
    outline: 2px solid #ffd201;
    outline-offset: 0px;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    transition: all 0.3s cubic-bezier(0.05, 0.72, 0.62, 0.82);
}

.posts li:hover {
    outline-offset: 10px;
    border-radius: 10px;
}

.input-number {
    width: 50px;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid #ffd201;
    color: #ffd201;
    background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid #ffd201;
    color: #ffd201;
    background-color: transparent;
    transition: all 0.3s ease;
}

button:hover {
    border-radius: 5px;
    color: #1c1525;
    background-color: #ffd201;
}

.inline {
    display: inline;
}

.log-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
